.slider {
    [data-step]:first-child .step-btn--container .btn.prev,
    [data-step]:last-child .step-btn--container .btn.next,
    [data-question]:first-child .question-btn--container .btn.prev,
    [data-question]:last-child .question-btn--container .btn.next {
        opacity: 0.4;
        pointer-events: none;
    }

    .step-btn--container { flex-flow: row nowrap; }
    .question-btn--container { flex-flow: row wrap; }
    .step-btn--container,
    .question-btn--container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1rem;

        .btn {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            white-space: nowrap;

            margin: 0.3rem;
            padding: 0.3rem 0.7rem;
            border: 0;
            border-radius: 3px;
            background-color: $neutral20;
            text-transform: capitalize;
            cursor: pointer;

            &:hover {
                background-color: $baseSecondary;
                color: $protonWhite;

            }

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }

        .spacer {
            flex: 1;
            &.with-buttons {
                @media all and (max-width: $break50) {
                    display: none;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                .btn {
                    margin: 0 0.2rem;
                    &.active {
                        background-color: $baseSecondary;
                        color: $protonWhite;
                    }
                    &.error {
                        background-color: $boldRed;
                        color: $protonWhite;
                    }
                }
            }
        }
    }
}