.slider {
    position: relative;
    overflow: hidden;

    .card {
        .header {
            // height: 40px;
            padding: 1rem 1rem 0;
            flex: 1;
            order: 1;
        }
        .content {
            height: calc(100% - 7rem);
            flex: 1;
            order: 2;
            overflow-y: auto;
            padding: 1rem;
        }
        .step-btn--container,
        .question-btn--container {
            // height: 40px;
            padding: 1rem;
            order: 3;
        }
    }
    
    [data-step] {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 150ms ease-in-out;
        z-index: 0;
            
        &.previous {
            animation: slideOutRight 500ms forwards;
        }
        &.next {
            animation: slideOutLeft 500ms forwards;
        }
        
        background-color: #ffffff;
        padding: 0;
        margin-bottom: 1rem;
        border-radius: 10px;
        box-shadow: 0 2px 8px -6px rgba(0,0,0,0.24), 0 7px 15px -8px rgba(0,0,0,0.34);
        height: 90%;
        width: calc(100% - 2rem);
        max-width: $containerMaxWidth;
        overflow: hidden;

        &.active {
            opacity: 1;
            visibility: visible;
            z-index: 1;
            &.previous {
                animation: slideInRight 500ms forwards;
            }
            &.next {
                animation: slideInLeft 500ms forwards;
            }
        }

        [data-question] {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 150ms ease-in-out;
            z-index: 0;

            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            height: calc(100% - 8rem);
            width: calc(100% - 2rem);
            
            &.previous {
                animation: slideOutRight 500ms forwards;
            }
            &.next {
                animation: slideOutLeft 500ms forwards;
            }

            &.active {
                opacity: 1;
                visibility: visible;
                z-index: 1;
                &.previous {
                    animation: slideInRight 500ms forwards;
                }
                &.next {
                    animation: slideInLeft 500ms forwards;
                }
            }

            .question-content {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                flex: 1;
                order: 2;
                overflow-y: auto;
                @include respond($break50, min) {
                    padding: 1rem 20%;
                }
                @include respond($break50) {
                    padding: 1rem 0;
                }
                line-height: 1.8;
            }
            .question-btn--container {
                order: 1;
                padding: 0;
            }
        }

        @keyframes slideInLeft {
            0% { left: -110%; }
            100% { left: 50%; }
        }
        @keyframes slideInRight {
            0% { left: 200%; }
            100% { left: 50%; }
        }
        @keyframes slideOutLeft {
            0% { left: 50%; }
            100% { left: 110%; }
        }
        @keyframes slideOutRight {
            0% { left: 50%; }
            100% { left: -200%; }
        }
    }
}