.slider {
    [data-step] {

        display: none;
        margin-top: -110%;
        
        background-color: #ffffff;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        box-shadow: 0 2px 8px -6px rgba(0,0,0,0.14), 0 7px 15px -8px rgba(0,0,0,0.24);

        transition: margin-top 150ms ease-in-out;

        &.active {
            display: block;
            margin-top: 0;
        }
    }
}